<!DOCTYPE html>
<html>
  <head>
    <title>OptOutside</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <h1>#OptOutside</h1>
    <p>This is an app to show new meetups</p>

  </body>
</html>
